.post{
    display: flex;
    flex-direction: column;

    .post-wrapper{
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .avatar-wrapper{
            flex: 0 1 150px;

            .avatar{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: 150px;
            }
        }
        .content-wrapper{
            flex: 1 1 auto;
            margin-left: 10px;
            border: 1px solid #e9e9e9;
        }
    }
}