.form-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

    .form{
       margin-right: 200px;
    }

    .jumpRegister{
        margin-left: 10px;

        .reg{
            color: #1296db;
            cursor: pointer;
        }
    }
}