$color:#1296db;
.home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    @media screen and ( max-width: 1200px) {
        padding: 0 20px;
    }
    .loading{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .post-list{
        display: grid;  
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 150px 150px 150px;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 30px;

        @media screen and ( max-width: 800px ) {
            grid-template-columns: repeat(2, 1fr); 
        }
        @media screen and ( max-width: 500px ) {
            grid-template-columns: 1fr; 
        }

        .post-item{
            height: 150px;
            width: 100%;
            border: 1px solid #e9e9e9;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            overflow: hidden;
            &:hover{
                transition: all .5s ease;
                border-color: $color;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
}

            .userinfo{
                display: flex;
                justify-content: space-between;
                height: 48px;
                align-items: center;

                .left{
                    .username{
                        font-size: 1.1rem;
                        font-weight: 600;
                        cursor: pointer;
                        &:hover{
                            color: $color;
                        }
                    }
                    .time{
                        font-size: .8rem;
                        color: gray;
                    }
                }
                .right{
                    .avatar{
                        cursor: pointer;
                        
                    }
                }
            }
            .content{
                font-size: 1rem;
                padding-top: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid #e9e9e9;
                cursor: pointer;
                width: 100%;
                overflow: hidden;
            }

            .show-container{
                position: relative;
                display: flex;
                align-items: center;


                .delete{
                    position: absolute;
                    right: 0;
                    border-radius: 4px;
                }
            }
        } 
    }

    .pagination{
        position: absolute;
        bottom: -80px;
        margin-bottom: 10px;
    }

    .user-post{
        margin-top: 40px;
        display: flex;
        width: 100%;
        .textInput{
            width: calc(100% - 80px);
            margin-right: 10px
       }
       .submitBut{
           width: 70px;
       }
    }
}


