@import '~antd/dist/antd.css';
$color:#1296db;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:  0 auto;

    @media screen and ( max-width: 1200px) {
        width: 100%;
    }

    .header{
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        height: 48px;
        align-items: center;
        user-select: none;
        border-bottom: 1px solid #e9e9e9;
        font-size: 1rem;
        font-weight: 600;
        .left{ 
            flex: 0 0 auto;
            
            .header-home{
                display: block;
                height: 48px;
                line-height: 48px;
                cursor: pointer;
                &:hover{
                    color: $color;
                    border-bottom: 3px solid $color;
                }
                }
        }
        .right{
            display: flex;
            flex: 0 0 auto;
            span{
                margin-left: 10px;
                height: 48px;
                line-height: 48px;
                cursor: pointer;
                &:hover{
                    color: $color;
                    border-bottom: 3px solid $color;
                }
            }
        }

        .active{
            color: $color;
            border-bottom: 3px solid $color;
        }
    }
}